[maelstrom]
# which database to use
database=../db/messages.db
# map mails and different transcriptions to a canonical or anonymized
# name.
personmapfile=../db/persons.map
# dot|graphxml|log|csv
format=dot
# display overall stats
stats=True
# filter out entity
egg=False
# whom to filter out
egger=Marsiske Stefan
