* { margin:  0; padding: 0; font-family: "Trebuchet MS", sans-serif }
div#tagcloud { width: 500px; }
#sparkline { padding: 2px 2px 0px; margin: 10px 10px 2px; }
ul.tagcloud-list { font-size: 100%; font-weight: bold; padding: 2px; margin: 10px; }
li.tagcloud-base { font-size: 24px; display: inline; white-space: nowrap; }
a.tagcloud-anchor { text-decoration: none; }
a.tagcloud-anchor:hover { background-color: #ddd; }
a.tagcloud-earliest { color: #ccc; }
a.tagcloud-earlier { color: #99c; }
a.tagcloud-later { color: #99f; }
a.tagcloud-latest { color: #00f; }
